body {
  background: url("../images/bg1.jpg");
  background-size: cover;
}
.main {
  display: block;
  margin: 250px auto;
  border: 3px solid white;
  padding: 25px 55px;
  color: white;
}

.location{
    
}
